<div class="testbox">
  <form>
    <div class="banner">
      <h1>Restaurant Reservation Form</h1>
    </div>
    <div class="item">
      <p>Name</p>
      <div class="name-item">
        <input type="text" name="fname"  placeholder="First" />
        <input type="text" name="lname"  placeholder="Last" />
      </div>
    </div>
    <div class="item">
      <p>Email</p>
      <input type="email"  name="email" />
    </div>
    <div class="item">
      <p>Phone</p>
      <input type="text" name="phone"  placeholder="### ### ####" />
    </div>
    <div class="item">
      <p>Reservation Date</p>
      <input type="datetime-local" name="dateStart" [(ngModel)]="order.dateStart" required />
      <i class="fas fa-calendar-alt"></i>
    </div>
    <div class="item">
      <p>How long do you book a table for?</p>
      <input type="number" min="0" name="timeOfBooking" [(ngModel)]="order.timeOfBooking" />
    </div>
    <div class="item">
      <p>How many people will you be with?</p>
      <input type="number" min="0" name="countUser" [(ngModel)]="order.countUser" />
    </div>
    <div class="btn-block">
      <button (click)="this.reserve()">Send</button>
    </div>
  </form>
</div>
